{% extends "auctions/layout.html" %}
{% load humanize %}
{% block body %}

{% if auction.active == 0 %}
    <div class="end-listing-container">
        <section class="page page--information">
            <div class="page__content">
                <div class="item-card-details__wrapper item-card-details__product">
                    <div class="item-card-details__header">
                        <div class="item-card-details__header-text">
                            <span class="ended-listing">The listing you're looking for was ended.</span>
                        </div>
                    </div>
                    <div class="item-card-details__table">
                        <div class="item-card-details__table-row1">
                            <div class="item-card-details">
                                <div class="item-card-details__image-wrapper">
                                    <div class="item-card-details__image-table">
                                        <div class="item-card-details__image-cell">
                                            <img class="item-card-details__image" src="{{auction.image}}" alt="{{ auction.title }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="item-card-details__content-wrapper">
                                    <div class="item-card-details__title">
                                        <span class="title">{{ auction.title }}</span>
                                    </div>
                                    <div class="item-card-details__wrapper">
                                        <div class="item-card-details__table">
                                            <div class="item-card-details__row">
                                                <div class="item-card-details__cell item-card-details__cell1">
                                                    <span class="item-card-details__label">
                                                        <span>Ended:</span>
                                                    </span>
                                                </div>
                                                <div class="item-card-details__cell">
                                                    <span class="item-card-details__value">
                                                        <span>{{ auction.modify_date|date:"d M, Y H:i:s" }}</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="item-card-details__row">
                                                <div class="item-card-details__cell item-card-details__cell1">
                                                    <span class="item-card-details__label">
                                                        <span>Winning Bid:</span>
                                                    </span>
                                                </div>
                                                <div class="item-card-details__cell">
                                                    <span class="item-card-details__value">
                                                        <span class="cc-text-spans--BOLD">${{auction.price|intcomma}}</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="item-card-details__row">
                                                <div class="item-card-details__cell item-card-details__cell1">
                                                    <span class="item-card-details__label">
                                                        <span>Total Bid:</span>                                                    
                                                    </span>
                                                </div>
                                                <div class="item-card-details__cell">
                                                    <span class="item-card-details__value">
                                                        <span>
                                                            [<span class="bidder cc-text-spans--BOLD" data-toggle="modal" data-target="#bidderModal">{{ bids.count }}</span>]
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-card-details__table-row2">
                            <div class="item-card-details__view-link-wrapper">
                                <div class="item-card-details__row">
                                    <div class="item-card-details__cell item-card-details__cell1">
                                        <span class="item-card-details__label">
                                            <span>Seller:</span>
                                        </span>
                                    </div>
                                    <div class="item-card-details__cell">
                                        <span class="item-card-details__value">
                                            <span>{{ auction.seller }}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="item-card-details__view bid-result-text">
                                    {% if winner == request.user %}
                                        <span class="won-bidding">You've won this auction</span>
                                    {% else %}
                                        <span class="lose-bidding">Sorry. You didn't win this auction</span>
                                    {% endif %}
                                </div>
                                <div class="item-card-details__view">
                                    <a href="javascript:void(0);" onclick="history.go(-1);" class="item-card-details__view-link">Return to listing items</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% else %}

<section class="container-panel">
    <div class="container">
        <div class="row">
            
            <div class="col-md-8">  
                <img class="listing-image" src="{{ auction.image }}" alt="">
                <div class="listing-detail">
                    <div class="bid-comment-panel">
                        <div class="container">
                            <div class="listing-container">
                                <div class="listing-item-row listing-overlay">
                                    <div class="listing-header">
                                        <span class="listing-header-title"> {{ auction.title }}</span>
                                        {% if auction.active %}
                                        <div class="listing-header-action">
                                            <div class="listing-watchlist-heart">
                                                <ul>
                                                    <li>
                                                        {% load static %}
                                                        {% if watchlist %}
                                                            <a href="{% url 'watchlist' auction.id %}" class="listing-watchlist heart_on"></a>
                                                        {% else %}
                                                            <a href="{% url 'watchlist' auction.id %}" class="listing-watchlist heart_off"></a>
                                                        {% endif %}
                                                    </li>
                                                   
                                                </ul>                                        
                                            </div>
                                        </div>
                                    </div>
                                    <div class="listing-price-row"> 
                                        <span class="curbid-price">${{ bid|intcomma }}</span>
                                        {% if bids.count > 0 %}
                                            <span class="badge badge-warning">Latest Bid</span>
                                        {% endif %}
                                        <div class="close-auction">
                                            {% if user == auction.seller and auction.active %}
                                                <form action="{% url 'close_auction' auction.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <button class="btn btn-danger btn-lg" type="submit" onclick="return confirm('Are you sure want to close this auction?')">Close auction</button>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="listing-desc">
                                        {{ auction.description|linebreaks }}
                                    </div>
                       
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="col-md-4">
                <div class="bid-comment-panel">
                    <div class="seller-profile-widget">
                        <div class="seller-profile-panel">
                            <span class="seller-profile-image seller-profile-image--outline seller-profile-image--wrap seller-profile-image--icon">
                                <span class="icon-profile-picture-placeholder-2"><i class="fas fa-user"></i></span>
                            </span>
                            <div class="seller-profile-detail">
                                <span class="seller-profile-name">
                                    {{ auction.seller }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="bid">
                        <h3 class="section_title">Place bid</h3>
                        <div class="bid-panel">
                            <form action="{% url 'bid' auction.id %}" method="post">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="number" placeholder="Place your bid" name="bid_value" class="form-control" required>
                                    <div class="input-group-append btn-bid">
                                        <button class="btn btn-outline-primary" type="submit" name="button">Bid</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="bid-amount">
                            <div class="amount">
                                Enter
                                {% if bid %}
                                    ${{ bid|add:5|intcomma }}
                                {% else %}
                                    ${{ auction.price|add:5|intcomma }}
                                {% endif %} 
                                or more
                            </div>
                            <div class="total">
                                <span class="bidder" data-toggle="modal" data-target="#bidderModal">[ {{ bids.count }} bids ]</span>
                            </div>
  
                            
                        </div>
                    </div>
                    <!-- End of modal -->

                    <div class="comment">
                        <h3 class="section_title">Comment</h3>
                        <form method='post'action="{% url 'comment' title=auction.title id=auction.id %}" >
                            {% csrf_token %}
                            <div class="form-group">
                                {{ commentform.comment }}
                            </div>
                            <button type="submit" class="btn btn-lg btn-block btn-comment" name="button">Submit Comment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>

<section class="comment-s">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="listing-comment-panel">
                    <div class="comment-panel-wrapper">
                        <div class="listing-comment-wrapper listing-text-wrapper comment-border-panel">
                            <span class="comment-header">Comments - </span>
                            <span class="total-comment">
                                {{ comments.count }} comment(s) on this auction.
                            </span>
                        </div>
                        <div class="comments">
                            {% for comment in comments %}
                                <div class="card">
                                    <div class="card-body">
                                        <span class="comment-box-img">
                                            <span class="comment-img-circle">
                                                <img src="https://images.detik.com/community/media/detikconnect/document/2019/4/29/7c4c952c370a9aa1bec2e7df7dcb5c6a.jpeg" alt="Gudang Dalil">
                                            </span>
                                        </span>
                                        <h5 class="card-title-comment">{{ comment.user}}</h5>
                                        <span class="comment-date">on {{ comment.date }}</span>
                                        <p class="card-text">{{ comment.comment }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}

<!-- Modal shows bidder -->
<div class="modal fade" id="bidderModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bid History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="app-container-view_top_wrapper clearfix">
                    <div class="app-container-view_info">
                        <div class="app-bid-info_wrapper">
                            <ul role="list">
                                <li class="ui-inline-map-wrapper ui-inline-map-padding">
                                    <span>Bidders:</span>
                                    <div>
                                        <span>
                                            {% for total_bid in total_bid_by_user %}
                                                {{ total_bid.total }}
                                            {% endfor %}
                                        </span>
                                    </div>
                                </li>
                                <li class="ui-inline-map-wrapper ui-inline-map-padding">
                                    <span>Bids:</span>
                                    <div>
                                        <span>{{ bids.count }}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Bidder</th>
                            <th scope="col">Bid amount</th>
                            <th scope="col">Bid time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bid in bids %}
                            <tr>
                                <td>
                                    {% if request.user == bid.user %}
                                        {{ bid.user }}
                                    {% else %}
                                        {{ bid.user|make_list|first }}***{{ bid.user|make_list|last }}
                                    {% endif %}
                                </td>
                                <td>${{ bid.amount|intcomma }}</td>
                                <td>{{ bid.date }}</td>
                            </tr>
                        {% endfor %}
                        {% if bids.count > 0 %}
                            <tr>
                                <td>Starting price</td>
                                <td>${{ auction.price|intcomma }}</td>
                                <td>{{ auction.create_date }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}