{% extends "auctions/layout.html" %}
{% load humanize %}
{% block body %}
<section class="container-panel ">
    <!-- <h2>Active Listings</h2> -->
    <h2 class="header-title">{{ title }}</h2>

    {% for auction in auctions %}    
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 center-block">
                        <a href="{% url 'item_detail' title=auction.title_to_url id=auction.id %}">
                            <img src="{{ auction.image }}" alt="{{ auction.title }}" class="img-item">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <a href="{% url 'item_detail' title=auction.title_to_url id=auction.id %}">
                            <h1 class="item-title"> {{ auction.title }} </h1>
                        </a>
                        <span class="badge badge-category">{{ auction.category }}</span>
                        <div class="item-price mt-10"> ${{ auction.price|intcomma }}</div>
                        <div class="item-bids">
                            {{ auction.total }} bids
                        </div>
                        <div class="item-crdate">Listed on {{ auction.create_date|date:"d-m-Y" }} by {{ auction.seller }}</div>
                    </div>
                    <div class="col-md-1">
                        
                        <!-- {% if auction.id in watchlist %}
                            1
                        {% else %}
                            2
                        {% endif %} -->
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="app-cvip-message-container">
            <section class="page page-notice--information">
                <div class="page__content">
                    <div class="item-card-details__wrapper item-card-details__product">
                        <div class="item-card-details__header">
                            <div class="item-card-details__header-text">
                                <span>No auction is found.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {% endfor %}
</section>
{% endblock %}